.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.join-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.join-section input {
  padding: 10px;
  width: 250px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #999;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}
